<div class="banner">
  <div class="banner-content">
    <h1>Mixmasters</h1>
    <p>Search and submit mixological masterpieces</p>
    <a class="button btn btn-primary btn-lg", href="#browse-box">Browse</a>
    <a href="/cocktails/new" class="button btn btn-primary btn-lg">Create</a>
  </div>
</div>
