<%= link_to 'Back', cocktails_path, class: "btn btn-lg transparent back-link" %>
<div class="show-wrapper">
  <div class="details-container">
    <%= render partial: '/components/cocktail-card-big', locals: { cocktail: @cocktail } %>
  </div>
</div>



